# dependencies
node_modules/

# environment variables
.env
.env.local
.env.development

# logs
logs/
*.log
npm-debug.log*

# OS generated
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# runtime
dist/
build/
coverage/
